*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.heading{
  background-color: rgb(169, 39, 39);
  min-height: 20vh;
}

.body{
  background-color: rgb(196, 139, 34);
  min-height: 60vh;
}

.footer{
  background-color: rgb(214, 80, 80);
  min-height: 20vh;
}